---
import Header from "./Header.astro"
import { Image } from "astro:assets";
import P1 from '../assets/bottom-pics/P1.webp';
import P2 from '../assets/bottom-pics/P2.webp';
import P3 from '../assets/bottom-pics/P3.webp'; 
import P4 from '../assets/bottom-pics/P4.webp';
import P5 from '../assets/bottom-pics/P5.webp';
import P6 from '../assets/bottom-pics/P6.webp';
import P7 from '../assets/bottom-pics/P7.webp';
import P8 from '../assets/bottom-pics/P8.webp';
import P9 from '../assets/bottom-pics/P9.webp';
import Carousel from "./Carousel.astro";
import SmallIconsComp from "./SmallIconsComp.astro";
const {lang = "es"} = Astro.props
---

<div id="fourth-part" class=" snap-start snap-normal min-h-screen items-center  justify-center flex w-full bg-white">
	
		<section class="flex  w-screen pt-8 flex-col px-[2vw] items-center" id="first-section">	
				<Header lang={lang} route="/" />
                
                    <div class="categories px-[2vw]  grid-cols-1 sm:grid-cols-2 grid object-contain lg:grid-cols-3 gap-[2vw] mt-8">
                        <a href=`${lang}/projects/project1`>
                        <Image src={P1} class="w-full h-full object-cover"  alt="P1" />
                        </a>
                        <a href=`${lang}/projects/project2`>
                        <Image src={P2} class="w-full h-full object-cover"  alt="P2" />
                        </a>
                        <a href=`${lang}/projects/project3`>
                        <Image src={P3} class="w-full h-full object-cover"  alt="P3" />
                        </a>
                        <a href=`${lang}/projects/project4`>
                        <Image src={P4} class="w-full h-full object-cover"  alt="P4" />
                        </a>
                        <a href=`${lang}/projects/project5`>
                        <Image src={P5} class="w-full h-full object-cover"  alt="P5" />
                        </a>
                        <a href=`${lang}/projects/project6`>
                        <Image src={P6} class="w-full h-full object-cover"  alt="P6" />
                        </a>
                        <a href=`${lang}/projects/project7`>
                        <Image src={P7} class="w-full h-full object-cover"  alt="P7" />
                        </a>
                        <a href=`${lang}/projects/project8`>
                        <Image src={P8} class="w-full h-full object-cover"  alt="P8" />
                        </a>
                        <a href=`${lang}/projects/project9`>
                        <Image src={P9} class="w-full h-full object-cover"  alt="P9" />
                        </a>
                    </div>
               
                <Carousel />
                <a href="/AboutUs#conversemos">
                <button class="px-4 sm:text-sm mb-4 font-bold hover:border-[#9CA2AE] text-[#9CA2AE] hover:text-white 
                bg-white hover:bg-[#9CA2AE] border-solid border-[#9CA2AE] border-2px py-2 text-lg  hover:cursor-pointer">Conectemos</button>
                </a>
                <SmallIconsComp variant="gray" />
                <footer class="flex my-8 text-gray-400 flex-col font-[200] items-center">
                    <p>Copyright @ 2025 Inventario Panamá</p>             
                    <p>a GWT partner.</p>
                </footer>

		</section>
	

	
</div>

<style>
	
  .categories img:hover{
    cursor:pointer;
  }
p{
    margin:0;
}
	
</style>
