---
import inventarioLogo from '../assets/Inventario.webp';
import { Image } from "astro:assets";
const { position = " bg-white static" } = Astro.props;
const {textColor = "text-[#6B7280]"} = Astro.props;
const {logoColorVariant = "invert"} = Astro.props;
---

<header class={` px-[2vw] box-border  w-full ${position}  `}>
    <div class="flex justify-between  items-center">
        <a href="/">
        <Image src={inventarioLogo} class={`w-[10vw] hover:cursor-pointer h-auto   ${logoColorVariant}`} alt="inventario logo" />
        </a>
        <nav class=" flex gap-6">
            <a href="#" class={`${textColor} no-underline text-lg font-bold `}>Conócenos</a>
            <a href="#" class={`${textColor} no-underline text-lg font-bold `}>Es</a>
            <a href="#" class={`${textColor} no-underline text-lg font-bold `}>En</a>
        </nav>
    </div>
</header>